body {
	box-sizing: border-box;
  font-family: 'Andika', sans-serif;
}

p, h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

ul {
  list-style-type: none;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

.button {
  border-radius: 10px;
}

.cue {
	padding: 22px;
	border-radius: 12px;
  background-color: #F9F8D3;
  min-height: 90vh;
}

.cue__start-by {
  margin-left: 1em;
}

.cue__steps {
  margin-top: 3em;
}

.cue__img {
  max-width: 80%;
}

.cue__link {
  display: inline-block;
  &.complete {
    color: grey;
    text-decoration: line-through;
  }
}

.cue__finished {
  display: inline;
}

.subcue__list {
  width: calc(100% + 22px);
}

.cue__back {
  background-color: #9fd1e0;
  position: relative;
  right: 23px;
  margin-bottom: 12px;
  * {
    display: inline-block;
    vertical-align: middle;
  }
  > p {
    font-size: 1.4em;
  }
  > img {
    transform: rotate(180deg);
    width: 58px;
  }
}

.subcue {
	position: relative;
  margin: 8px 0;
  padding: 8px 22px;
  background-color: #AED8E5;
  font-size: 20px;
  * {
    vertical-align: middle;
  }
  p {
    display: inline-block;
  }
  img {
  	position: absolute;
  	width: 48px;
  	right: 0;
  	top: 50%;
  	transform: translateY(-50%);
  }
}