{{moment (now) 'LLLL'}}
{{#each model as |calendar| }}
  {{#each calendar.cues as |cue|}}
		<ul>
			<li>
			  {{#link-to "cue" cue}}<h4 class="cue__link {{if cue.complete 'complete'}}">{{cue.title}}</h4>{{/link-to}}
			  {{input type="checkbox" checked=cue.complete class="cue__finished"}}
		  </li>
		</ul>
	{{/each}}
{{/each}}
